@import '../styles/common'

.main
  .banner
    position absolute
    img
      width 100vw
  .link-button
    position absolute
    top 32vw
    left 5vw
    width 30vw
    height 8vw
    a
      button
        border none
        opacity 0
        // background-color rgba(255,0,0,0)
        width 100%
        height 100%
  .link-button2
    position absolute
    top 190vw
    left 26vw
    width 30vw
    height 8vw
    a
      button
        border none
        opacity 0
        // background-color rgba(255,0,0,0.5)
        width 100%
        height 100%
  .link-court
    position absolute
    top 190vw
    left 60vw
    width 35vw
    height 8vw
    a
      button
        border none
        opacity 0
        // background-color rgba(255,0,0,0.5)
        width 100%
        height 100%