@import '../styles/common'

.main
  .banner
    position absolute
  .link-button
    position absolute
    top 734px
    left 250px
    width 503px
    height 133px
    a
      width 503px
      height 133px
      button
        border none
        opacity 0
        width 503px
        height 133px