@import '../styles/common'

.main
  .banner
    position absolute
    img
      width 100vw
  .link-button
    position absolute
    top 25vh
    left 10vw
    width 30vw
    height 8vh
    a
      button
        border none
        // opacity 0
        background-color red
        width 100%
        height 100%